{
  "textToSpeech": [
    {
      "name": "Text to Speech-wa",
      "credentials": {
        "apikey": "qa3XvtcI7D3sg6UNGUcTqMZgXEZBXA7Gvco7mPlxNw1b",
        "url": "https://stream.watsonplatform.net/text-to-speech/api"
      }
    }
  ],
  "speechToText": [
    {
      "name": "Speech to Text-90",
      "credentials": {
        "apikey": "lsIleDs2XKc7NB1S1zScBz1Ay6KXwQ_7Whcnl7cisQST",
        "url": "https://stream.watsonplatform.net/speech-to-text/api"
      }
    }
  ],
  "conversation": [
    {
      "name": "williannogueira-conversation-1555030960324",
      "credentials": {
        "apikey": "AXb3qFcn2ZoXz-tepIZ9yf58OvPujTAyYeYXm7K14iEg",
        "url": "https://gateway-wdc.watsonplatform.net/assistant/api"
      }
    }
  ]
}
